body {
    background-color: rgb(116, 202, 228);
}

h1 {
    color: rgb(0, 6, 87);
    font-family: 'Courier New', Courier, monospace;
}

p, h2 {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(65, 0, 61)
}