body {
    background-color: bisque;
}

h1 {
    color: green;
    font-family: "Comic Sans MS";
}

h1.rotate {
    transform: rotate(1deg);
}

p.subtitle {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: brown
}

a {
    color: black;
}

a:hover {
    color:blue;
    font-size:xx-large;
}